
{{#partial "styles"}}
    <link rel='stylesheet' href='css/style.css'>
{{/partial}}
{{#partial "content"}}


    {{#if organisation}}
        {{#each organisation}}
        <div class="success">
        <div class="row">
            <div class="col-md-12">
                <p> {{name}} </p>
                <p>{{description}}</p>
                <p>{{numemployees}}</p>
            </div>
        </div>
        </div>
        {{/each}}
    {{/if}}

{{/partial}}
{{> layout.hbs}}