<!--{{#block "header"}}-->

<!--    <!doctype html>-->
<!--    <html lang="en">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <meta name="viewport"-->
<!--              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--        <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--        <title>{{#block "title"}}smart-code{{/block}}</title>-->
<!--        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>-->
<!--        <link rel="stylesheet" href="css/style.css">-->
<!--    </head>-->
<!--    {{#block "content"}}-->
<!--    {{/block}}-->
<!--    <div class="page"></div>-->

<!--    </body>-->
<!--    </html>-->
<!--{{/block}}-->
{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>
            {{#block "title" }}Organisation-news-portal{{/block}}

        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Sansita&display=swap" rel="stylesheet">

        <link rel='stylesheet' href='css/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        {{#block "styles"}}{{/block}}

    </head>
    <body>
{{/block}}

<header>
    <div class="  navigation">
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href='/users-form'>ADD USER</a></li>
                    <li><a href='/department-form'>ADD DEPARTMENT</a></li>
                    <li><a href='/news-form'>ADD NEWS</a> </li>
                </ul>
            </div>
        </nav>
    </div>

</header>

<div class="container">
    <!--begin main template-->

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
{{#block "footer"}}
    </div>
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    </body>
    </html>
{{/block}}