{{#partial "styles"}}
    <link rel='stylesheet' href='/css/style.css'>
{{/partial}}
{{#partial "content"}}

    <div class="home">
        <h2>An organization will tend to grow only <br>when the advantages that can be gotten<br> from directing the work of additional
            employees <br>are less than the transaction costs of managing them.</h2>
    </div>

{{/partial}}
{{> layout.hbs}}