{{#partial "styles"}}
    <link rel='stylesheet' href='css/style.css'>
{{/partial}}
{{#partial "content"}}

        <div class="form" id="users">
            <h3>Create User</h3>
            <div class="hr"></div>
            <form action="user" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="duties">Roles</label>
                    <input type="text" name="duties" class="form-control" placeholder="Enter roles" required>
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <input type="text" name="position" class="form-control" placeholder="Enter Position" required>
                </div>
                <div class="form-group">
                    <label for="departmentId">Department Id</label>
                    <input type="number" name="departmentId" class="form-control" placeholder="Enter Department Id" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="button button-block">Create user</button>
                </div>
            </form>
        </div>

{{/partial}}
{{> layout.hbs}}